AI Hub 한국어-영어 번역 말뭉치를 하나로 뭉쳐 csv 파일로 저장하는 작업을 수행하자.

In [68]:
import random
import numpy as np

SEED = 1234

random.seed(SEED)
np.random.seed(SEED)
import pandas as pd

In [69]:
df1 = pd.read_excel('data/1.구어체.xlsx',sheet_name=1,usecols=[1,2],names=['ko','en'])
df1.head()

                           ko                                             en
0  나는 매일 저녁 배트를 만나러 다락방으로 가요.   I go to the attic every evening to meet Bat.
1          선생님 이문장이 이해가 안 가요.    Sir, I don't understand this sentence here.
2    컴퓨터를 시작하면 시간이 너무 빠르게 가요.  Time flies when you start using the computer.
3       나는 오늘 자정에 한국으로 돌아 가요.     I'm going back to Korea today at midnight.
4          나는 일어나자마자 화장실에 가요.         I go to bathroom as soon as I wake up.

In [70]:
df2 = pd.read_excel('data/2.대화체.xlsx',sheet_name=2,usecols=[5,6],names=['ko','en'])
df2.head()

,ko,en
0,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
1,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
2,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."
3,"네, 제가 연락해서 주문량을 2배로 늘리겠습니다.","Sure, I'll make a call and double the volume o..."
4,지난 회의 마지막에 논의했던 안건을 다시 볼까요?,Shall we take a look at the issues we discusse...

In [71]:
df3 = pd.read_excel('data/3.문어체-뉴스.xlsx',sheet_name=0,usecols=[7,8],names=['ko','en'])
df3.head()

,ko,en
0,하늘길 운항노선도 광주-제주 광주-양양 광주-김해 등 국내는 물론 일본과 중국 등 ...,The airway route will be gradually expanded do...
1,저가항공보다는 프레미엄 비즈니스 전문 항공사를 추구하는 에어필립은 지방 도시간 항공...,"It is expected that Air Philip, which seeks fo..."
2,울릉도와 흑산도 등의 소형공항이 수년 내 문을 열 경우 광주․전남 지역민의 관광 접...,If small airport such as Ulleungdo and Heuksan...
3,지역민들이 해외여행을 위해 인천공항에 갈 때마다 고속버스에 ‘수화물’을 싣고 내리던...,It mitigated inconvenience of local people tha...
4,포항출신인 필립에셋 엄일석 회장은 “광주에 18년 동안 살면서 강원도나 인천공항에 ...,"Eom Il-seok, president of Phillip Asset, who i..."

In [72]:
df4 = pd.read_excel('data/3.문어체-뉴스.xlsx',sheet_name=1,usecols=[7,9],names=['ko','en'])
df4.head()

,ko,en
0,끝으로 “탈퇴 조치가 우리(미국)의 인권헌신에 있어 후퇴가 아니라는 점을 분명히 하...,"Finally, he explained, ""I want to make it clea..."
1,나 PD는 이어 “내 개인의 명예와 가정이 걸린 만큼 선처는 없을 것”이라면서 “C...,"Producer Na went on to say, ""There will be no ..."
2,나경원 자유한국당 원내대표 등 원내대표단이 30일 강원도 인제군 서화면 육군 12사...,"Na Kyung-won, floor leader of the main opposit..."
3,"나경원 한국당 원내대표는 이날 국회에서 ‘경제비상 극복, 무엇을 해야 하나’ 간담회...","In a meeting at the National Assembly, 'What s..."
4,"끈질긴 매체와 이미지 실험, 물성과 질감 탐구를 거친 이정진의 섬세한 작업은 깊고 ...","Lee Jung-jin's delicate work, which has underg..."

하나의 데이터프레임으로 모아서 저장하자.

In [73]:
df = pd.concat([df1,df2,df3,df4])
df.head()

                           ko                                             en
0  나는 매일 저녁 배트를 만나러 다락방으로 가요.   I go to the attic every evening to meet Bat.
1          선생님 이문장이 이해가 안 가요.    Sir, I don't understand this sentence here.
2    컴퓨터를 시작하면 시간이 너무 빠르게 가요.  Time flies when you start using the computer.
3       나는 오늘 자정에 한국으로 돌아 가요.     I'm going back to Korea today at midnight.
4          나는 일어나자마자 화장실에 가요.         I go to bathroom as soon as I wake up.

데이터 중 60%는 훈련, 20%는 검증, 20%는 테스트셋으로 나누자.

In [74]:
import random
df['prob'] = [random.random() for _ in range(len(df))]
df.head()

,ko,en,prob
0,나는 매일 저녁 배트를 만나러 다락방으로 가요.,I go to the attic every evening to meet Bat.,0.966454
1,선생님 이문장이 이해가 안 가요.,"Sir, I don't understand this sentence here.",0.440733
2,컴퓨터를 시작하면 시간이 너무 빠르게 가요.,Time flies when you start using the computer.,0.007491
3,나는 오늘 자정에 한국으로 돌아 가요.,I'm going back to Korea today at midnight.,0.910976
4,나는 일어나자마자 화장실에 가요.,I go to bathroom as soon as I wake up.,0.939269

In [75]:
def split_df(prob):
    if prob < 0.6: return 'train'
    elif prob < 0.8: return 'valid'
    else: return 'test'

In [76]:
df['class'] = df['prob'].apply(split_df)

In [77]:
df

,ko,en,prob,class
0,나는 매일 저녁 배트를 만나러 다락방으로 가요.,I go to the attic every evening to meet Bat.,0.966454,test
1,선생님 이문장이 이해가 안 가요.,"Sir, I don't understand this sentence here.",0.440733,train
2,컴퓨터를 시작하면 시간이 너무 빠르게 가요.,Time flies when you start using the computer.,0.007491,train
3,나는 오늘 자정에 한국으로 돌아 가요.,I'm going back to Korea today at midnight.,0.910976,test
4,나는 일어나자마자 화장실에 가요.,I go to bathroom as soon as I wake up.,0.939269,test
...,...,...,...,...
53911,"구체적인 것에 분노하고 여론이 한껏 달아올랐을 때 해야 하는데 일단 그런 게 없고,...",It should be done when the public is angry at ...,0.557385,train
53912,구체적인 기자회견 내용은 알려지지 않았지만 결국 최근의 의혹에 대한 입장을 표명하는...,The details of the press conference were not k...,0.495226,train
53913,구체적인 내용은 북·미 간 협상에서 논의될 사안이지만 이번 정상회담에서 핵 리스트를...,Even though the specific details will be discu...,0.166034,train
53914,구체적인 내용은 후속회담과 실무협상에서 다루기로 했지만 두 정상은 앞으로도 정상외교...,Although the details of the talks will be disc...,0.904523,test
53915,"구체적인 로드맵으로는 북중러 접경 지역 경제특구의 개발, 남·북·러 3각 물류 협력...",Specific road maps include the development of ...,0.731899,valid

In [82]:
df_train = df[df['class']=='train'][['ko','en']]
df_valid = df[df['class']=='valid'][['ko','en']]
df_test = df[df['class']=='test'][['ko','en']]
df_train.head()

,ko,en
1,선생님 이문장이 이해가 안 가요.,"Sir, I don't understand this sentence here."
2,컴퓨터를 시작하면 시간이 너무 빠르게 가요.,Time flies when you start using the computer.
5,지금 잠을 자면 깨어나지 못할 거 같아서 지금 가요.,If I fall asleep I might not get up so I will ...
7,대한민국 남자라면 모두 20 대에 의무적으로 군대에 가요.,Korean men have to obligatorily join the army ...
9,오늘은 새 자동차를 받으러 가요.,"Today, I am going to pick up the new car."

In [83]:
len(df_train),len(df_valid),len(df_test)

(94463, 31688, 31822)

In [84]:
df_train.to_csv('data/train_data.csv',index=False)
df_valid.to_csv('data/valid_data.csv',index=False)
df_test.to_csv('data/test_data.csv',index=False)

어떻게 저장되었는지 확인해보자.

In [88]:
!cat data/train_data.csv | head -n 5

ko,en
선생님 이문장이 이해가 안 가요.,"Sir, I don't understand this sentence here."
컴퓨터를 시작하면 시간이 너무 빠르게 가요.,Time flies when you start using the computer.
지금 잠을 자면 깨어나지 못할 거 같아서 지금 가요.,If I fall asleep I might not get up so I will go right now.
대한민국 남자라면 모두 20 대에 의무적으로 군대에 가요.,Korean men have to obligatorily join the army in twenty.
cat: 쓰기 오류: 파이프가 깨어짐